[project]
	description = This is your first repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/abilash222
[access "refs/for/refs/*"]
	read = group user/abilash222
	push = group user/abilash222
	label-Code-Review = -2..+2 group user/abilash222
	label-Verified = -1..+1 group user/abilash222
	rebase = group user/abilash222
	removeReviewer = group user/abilash222
	submit = group user/abilash222
[access "refs/heads/*"]
	read = group user/abilash222
	create = group user/abilash222
	push = +force group user/abilash222
	pushMerge = group user/abilash222
[access "refs/tags/*"]
	push = group user/abilash222
	push = +force group user/abilash222
